@model IEnumerable<PassCardApp.Models.TicketType>

@{
    ViewData["Title"] = "ChooseTicket";
}

<h2>Sell Ticket to @ViewBag.ClientName</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveDayCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCheckinLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyCheckInLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveDayCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCheckinLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyCheckInLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form action=@Url.Action("ChooseTicket", "Sales") method="post">

                    <input type="hidden" name="TicketTypeId" value="@item.TicketTypeId" />
                    <input type="hidden" name="ClientId" value="@ViewBag.ClientId" />

                    <button type="submit" name="your_name" value="your_value" class="btn btn-success">Go to configuration</button>
                </form>

            </td>
        </tr>
}
    </tbody>
</table>
