@model IEnumerable<PassCardApp.Models.Ticket>
@{
    ViewData["Title"] = @ViewBag.ClientName + " Overview";
}

<h1> @ViewBag.ClientName overview</h1>

@if (Model.Count() == 0)
{
    <h2>
        @ViewBag.ClientName currently has no active tickets
    </h2>
}

<div class="text-right" >
    <a href=@Url.Action("ChooseTicket", "Sales", new { ClientId= ViewBag.ClientId }) class="btn btn-success">Sell ticket</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Check In
            </th>
            <th>
                <p>
                    @Html.DisplayNameFor(model => model.TicketType.TicketTypeName)
                </p>
                <p>
                    Active/Expired
                </p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldAt)
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.ActiveFrom)</p>

                <p>@Html.DisplayNameFor(model => model.ActiveUntil)</p>
            </th>
            <th><p>Remaining/Total</p><p>Remaining Today</p></th>
            <th>Check Out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.CanCheckIn && !ViewBag.IsAlreadYcheckedIn)
                {
                    <p>
                        <form action=@Url.Action("CheckIn", "Sales") method="post">

                            <input type="hidden" name="clientId" value="@Html.DisplayFor(modelItem => item.ClientId)" />
                            <input type="hidden" name="ticketId" value=" @Html.DisplayFor(modelItem => item.TicketId)" />
                            <div class="form-group">
                                <button type="submit" name="your_name" value="your_value" class="btn btn-success">Check In</button>
                            </div>
                        </form>
                    </p>
                }
            </td>
            <td>
                <p>
                    @Html.DisplayFor(modelItem => item.TicketType.TicketTypeName)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Status)
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldAt)
            </td>
            <td>
                <p>
                    @Html.DisplayFor(modelItem => item.ActiveFrom)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.ActiveUntil)
                </p>
            </td>
            <td>
                <p>
                    @Html.DisplayFor(modelItem => item.RemainingCheckinsCount)
                    /
                    @Html.DisplayFor(modelItem => item.TicketType.TotalCheckinLimit)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.RemainingCheckinsTodayCount)
                </p>
            </td>
            <td>

                @if (item.CanCheckOut)
                {
                    <p>
                        <form action=@Url.Action("CheckOut", "Sales") method="post">

                            <input type="hidden" name="clientId" value="@Html.DisplayFor(modelItem => item.ClientId)" />
                            <input type="hidden" name="ticketId" value=" @Html.DisplayFor(modelItem => item.TicketId)" />
                            <div class="form-group">
                                <button type="submit" name="your_name" value="your_value" class="btn btn-danger">Check Out</button>
                            </div>
                        </form>
                    </p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>