@model PassCardApp.Models.Checkin

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Checkin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ticket.TicketId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckedInBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckedInBy.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChecinDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChecinDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckedOutBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckedOutBy.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CheckinId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
