@model IEnumerable<PassCardApp.Models.TicketType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveDayCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCheckinLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyCheckInLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndHour)
            </th>
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveDayCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCheckinLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyCheckInLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
